{% extends "layout.html" %}

{% block body %}
{% include "navbar.html" %}
<div class="container">
    <fieldset>
      <form action="/result" method="post", enctype='multipart/form-data'>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Child File</span>
          </div>
          <div class="custom-file">
            <input name="child" type="file" class="custom-file-input" id="inputGroupFile01" required>
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
          
        
        <div>
          <input name="dad" type="file" class="ghost-input" required>
        </div>
        <div>
          <input name="mom" type="file" class="ghost-input" required>
        </div>
        <div>
          <input type="submit" class="ghost-button" value="Submit">
        </div>
      </form>
    </fieldset>
  </div>
  

{% endblock %}
